{% load static %}

<!-- Footer Section -->
<footer class="bg-white border-top p-4">
    <div class="container py-5">
        <div class="row">
            <!-- Column 1 - Logo & Social -->
            <div class="col-12 col-md-3 mb-4 mb-md-0">
                <img src="{% static 'images/Logo_croped.png' %}" class="img-fluid w-75 mb-3" alt="Logo">
                <div class="social-icons">
                    <a href="#" class="text-dark me-3"><i class="fab fa-facebook-f fa-lg"></i></a>
                    <a href="#" class="text-dark me-3"><i class="fab fa-instagram fa-lg"></i></a>
                    <a href="#" class="text-dark me-3"><i class="fab fa-youtube fa-lg"></i></a>
                    <a href="#" class="text-dark"><i class="fab fa-spotify fa-lg"></i></a>
                </div>
            </div>

            <!-- Column 2 - Important Links -->
            <div class="col-12 col-md-3 mb-4 mb-md-0">
                <h5 class="fw-bold mb-3">Important Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-dark text-decoration-none">NGO</a></li>
                    <li class="mb-2"><a href="#" class="text-dark text-decoration-none">Heal Yourself Sessions</a></li>
                    <li class="mb-2"><a href="#" class="text-dark text-decoration-none">Parenting Sessions</a></li>
                    <li class="mb-2"><a href="#" class="text-dark text-decoration-none">Trainings & Workshops</a></li>
                    <li class="mb-2"><a href="#" class="text-dark text-decoration-none">Podcast & Resources</a></li>
                </ul>
            </div>

            <!-- Column 3 - Quick Links -->
            <div class="col-12 col-md-3 mb-4 mb-md-0">
                <h5 class="fw-bold mb-3">Quick Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-dark text-decoration-none">Privacy Policy</a></li>
                    <li class="mb-2"><a href="#" class="text-dark text-decoration-none">Return and Refund Policy</a></li>
                    <li class="mb-2"><a href="#" class="text-dark text-decoration-none">Terms of Service</a></li>
                    <li class="mb-2"><a href="#" class="text-dark text-decoration-none">FAQ's</a></li>
                    <li class="mb-2"><a href="#" class="text-dark text-decoration-none">Disclaimer</a></li>
                </ul>
            </div>

            <!-- Column 4 - Contact -->
            <div class="col-12 col-md-3">
                <h5 class="fw-bold mb-3">Contact Us</h5>
                <ul class="list-unstyled text-dark">
                    <li class="mb-2">Email: <a href="mailto:example@email.com" class="text-dark text-decoration-none">example@email.com</a></li>
                    <li class="mb-2">Phone: <a href="tel:+1234567890" class="text-dark text-decoration-none">+1 234 567 890</a></li>
                    <li class="mb-2">Address:<br>123, Your Street,<br>City, Country</li>
                </ul>
            </div>
        </div>

        <!-- Our Services -->
        <div class="row mt-5">
            <hr>
            <div class="col-12">
                <h5 class="fw-bold mb-3">Our Services</h5>
                <p class="text-muted ">
                    startup | business | coaching | training | meta ads | google ads | website development | digital marketing course | ad manager |
                    advertise on google | google adsense | adsense | meta ads manager | small business | entrepreneur | business plans | social media content creator |
                    social media strategy | business advisor near me | digital marketing training | online business from home | communication coach | ads account |
                    startup ideas | certified life coach | web application development | web development services | social media consultant | business consultant near me | social media search |
                    mindset coach | learning and development | web design and development | small business consultant | social media specialist | meta ad manager | training and development |
                    youtube google ads | social marketing | web app development | startup india | instagram marketing service | consulting company | web design companies near me |
                    social media posting | facebook marketing strategy | business services | mental health coach | start up business ideas | best website developers | social media strategist |
                    most profitable businesses | ads google account | home business | building website for business | social media sites | social media content | women entrepreneurs |
                    start up ideas | website development service | facebook meta ads | smm marketing | marketing on instagram | meta ad | business plan for startup | website design and development |
                    corporation business | google display advertising | business management consultant | linkedin page | social media and marketing | social media optimization | digital and social media marketing |
                    creating an ecommerce website | social media ad | social media websites | googlereviews | facebook creator studios | business & consulting | best indian startups | a start up | business and management consulting |
                    media of advertising | metaads manager | start up tech | responsive web development
                </p>
            </div>
        </div>

        <!-- Copyright -->
        <div class="row mt-4">
            <div class="col-12 text-center">
                <p class="text-muted mb-0">&copy; 2025 Your Company Name. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
